.big-text {
    text-align: center;
    font-size: 52px;
    font-family: "Times New Roman";
    margin-top: 60px;
}

header {
    border: 1px solid blue;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;

}
a{
    list-style: none;
    color: black;
    font-size: 22px;
    text-decoration: none;

}

#login-div {
    border: 1px solid black;
    margin-left:25%;
    margin-right: 25%;
    text-align: center;
    padding: 20px;

}
/*--Shit about to get real--*/

#userInput,
#passInput {
    outline: none;
    border-bottom: 1px solid gray;
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: none;
    font-size: 22px;
    margin-bottom: 16px;
}